<h3>Details</h3>
<div class="card">
  <div class="card-body">
    <p class="card-text">{{body?.id}}</p>
    <p class="card-text">{{body?.title}}</p>
    <p class="card-text">{{body?.zip_code}}</p>
    <p class="card-text">{{body?.thumbnail}}</p>
    <p class="card-text">{{body?.attachments}}</p>
    <p class="card-text">{{body?.counter.messages_total}}</p>
    <p class="card-text">{{body?.counter.messages_unread}}</p>
    <p class="card-text">{{body?.is_awarded}}</p>
    <p class="card-text" *ngFor="let category of body?.categories">{{category.id}}</p>
    <p class="card-text">{{body?.state}}</p>
    <p class="card-text">{{body?.description}}</p>
    <p class="card-text">{{body?.enddate}}</p>
    <p class="card-text">{{body?.created_at}}</p>
  </div>
</div>